#hero {
  background-color: black;
  position: relative;
}

#hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../assets/Canva-Smiling-Woman-Wearing-Spectacles-1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: unset;
  top: 0;
  left: 0;
}

#hero .overlay-color {
  background-color: transparent;
  background-image: linear-gradient(90deg, #121e47 51%, rgba(0, 0, 0, 0) 70%);
  opacity: 0.76;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hero .container {
  color: white;
}

#hero .pill {
  display: inline-block;
  padding: 0.75em 1.5em;
  background: #595f75;
  border-radius: 0 2em 2em 2em;
  margin-top: 20vh;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
}

#hero .title {
  text-decoration: underline;
  font-size: 4em;
}

#hero .sub-title {
  font-size: 1em;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 1em;
  color: white;
}

#hero .btn {
  background: #50fedc;
  box-shadow: 7px 6px 21px 0px rgb(0 0 0 / 50%);
  padding: 1em 2em;
  color: black;
  margin-bottom: 4em;
}

#hero .brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15vh;
}

#hero .brand img {
  width: 6em;
  margin-right: 1em;
  margin-bottom: 1em;
}

#hero .waves svg {
  color: white;
  fill: white;
  height: 75px;
  width: 100%;
  transform: rotate(180deg) rotateY(180deg) translateY(-2px);
}

#hero .waves {
  height: 75px;
}

@media (max-width: 1000px) {
  #hero .title {
    font-size: 2.5em;
  }

  #hero .pill {
    font-size: 0.9em;
  }

  #hero .sub-title {
    font-size: 0.9em;
  }

  #hero .btn {
    font-size: 0.9em;
  }

  #hero .waves {
    height: 50px;
  }

  #hero .waves svg {
    height: 50px;
  }

  #hero .overlay-color {
    background-image: linear-gradient(
      90deg,
      #121e47 25%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

@media (max-width: 767px) {
  #hero .overlay {
    background-position: center;
  }

  #hero .pill {
    margin-top: 100px;
    font-size: 0.8em;
  }

  #hero .sub-title {
    font-size: 0.8em;
  }

  #hero .btn {
    font-size: 0.8em;
  }

  #hero .brand img {
    width: 5em;
  }

  #hero .overlay-color {
    background-image: linear-gradient(
      90deg,
      #121e47 25%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
