#mob-nav .main-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 100;
  color: white;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 15px 0 rgb(17 17 17 / 12%);
  transition: all 300ms ease;
}

#mob-nav .sheet-wrapper {
  background: white;
  position: fixed;
  width: 100%;
  height: calc(100vh - 65px);
  top: 65px;
  left: 0;
  z-index: 100;
  padding: 40px;
  transition: all 300ms ease;
}

#mob-nav .sheet-wrapper .nav-link {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  letter-spacing: 1px;
  padding: 18px;
}

#mob-nav .sheet-wrapper .social-icons {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

#mob-nav .sheet-wrapper .social-icon {
  margin: 0 15px;
  font-size: 1.5em;
}


#mob-nav .main-wrapper .signature {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

#mob-nav .nav-toggler {
  height: inherit;
  width: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

/* nav toggle */
#mob-nav .sheet-wrapper {
  display: none;
}

#mob-nav.show-nav .sheet-wrapper {
  display: block;
}

#mob-nav .nav-opener {
  display: block;
}

#mob-nav.show-nav .nav-opener {
  display: none;
}

#mob-nav .nav-closer {
  display: none;
}

#mob-nav.show-nav .nav-closer {
  display: block;
}

/* white nav */
#mob-nav.white-nav .main-wrapper{
  color: black;
  background: white;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

/* responsive */
@media (min-width: 1101px) {
  #mob-nav {
    display: none;
  }
}