#steps-to-success {
  background: #f2ebde;
  padding: 6em 0;
  position: relative;
}

#steps-to-success .cute-pill {
  background: #eeffcd;
}

#steps-to-success .ready-to-start-wrapper {
  background: white;
  padding: 3em;
  border-radius: 24px;
}

#steps-to-success .lets-talk-btn {
  background: #0edc8d;
  color: white;
  padding: 20px 30px;
  border-radius: 6px;
  display: inline-block;
}

#steps-to-success .ready-to-start-wrapper {
  position: absolute;
  bottom: -10em;
  left: 0;
  z-index: 5;
}

#steps-to-success {
  background: #dcd7cd;
}

#steps-to-success .step {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

#steps-to-success .step-wrapper {
  border-radius: 16px;
  background: white;
  padding: 30px 40px;
  margin: 0.75em 0;
}

#steps-to-success .step-title {
  font-weight: 700;
}

#steps-to-success .step-text {
  margin-top: 0.5em;
  font-weight: 300;
}

#steps-to-success .number-circle {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: hsla(0, 0%, 0%, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.124em;
  font-weight: 500;
  margin-right: 30px;
}
